.forgot-password-main {
    display: flex;
  }
  
  .forgot-password-left {
    flex-grow: 1;
    height: 100vh;
    background-color: #E9E9E9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-left img {
    width: 400px;
  }
  
  .forgot-password-right {
    height: 100vh;
    flex-grow: 1;
  }
  
  .forgot-password-right-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .forgot-password-right form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-logo {
    align-self: center;
    padding-top: 50px;
  }
  
  .forgot-password-center {
    margin: auto 0;
  }
  
  .forgot-password-logo img {
    width: 50px;
  }
  
  .forgot-password-center h2 {
    font-size: 35px;
  }
  
  .forgot-password-center {
    text-align: center;
  }
  
  .forgot-password-center p {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  form input[type='email'] {
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    box-sizing: border-box;
  }
  
  form button[type='submit'] {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
  }
  
  .forgot-password-center-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  
  .forgot-password-center-buttons button {
    background: black;
    color: white;
    border: 3px solid black;
    transition: background 1s linear 0ms;
    transition: color 500ms linear 0ms;
  }
  
  .forgot-password-center-buttons button:hover {
    color: #333;
    background-color: white;
  }
  
  .forgot-password-bottom-p {
    text-align: center;
    font-size: 15px;
    padding-bottom: 40px;
  }
  
  .forgot-password-bottom-p a {
    text-decoration: none;
    font-weight: 600;
  }
  
  .forgot-password-bottom-p a:hover {
    text-decoration: underline;
  }